<div *ngIf="dataLoaded==false"  class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded!=false" class="table">
    <thead>
      <tr>
        <th>Car Id</th>
        <th>Car Name</th>
        <th>Brand Name</th>
        <th>Color Name</th>
        <th>Daily Price</th>
        <th>Image</th>
      </tr>
    </thead>
    <tr *ngFor="let carDetail of carsDetails">
      <td>{{ carDetail.carId }}</td>
      <td>{{ carDetail.carName }}</td>
      <td>{{ carDetail.brandName }}</td>
      <td>{{ carDetail.colorName }}</td>
      <td>{{ carDetail.dailyPrice }}</td>
      <!-- <td>{{ carDetail.car }}</td> -->
    </tr>
  </table>
